<div class="container">
  <!--<div class="row">-->

    <div class="well well-lg">
      <div *ngIf="beer">
        <h2>{{beer.name}} Description</h2>
        <div>
          {{beer.description}}

        </div>
        <div>
          <button (click)="goBack()">Dashboard</button>
        </div>
      </div>
   <!-- </div>
    <div class="col-md-4"></div>-->
  </div>
</div>


<!--
<div class="container text-center">
  <div class="h3">Top Beers</div>
  <div class="row">
    <a *ngFor="let beer of beers" [routerLink]="['/detail', beer.id]" class="col-1-4">
      <div class="col-sm-3">
        <div class="well well-lg">
          <h4>{{beer.name}}</h4>
        </div>
      </div>
    </a>
  </div>
</div>
-->
