<!--<h3>Top Beers</h3>
<div class="grid grid-pad">
  <a *ngFor="let beer of beers" [routerLink]="['/detail', beer.id]" class="col-1-4">
    <div class="module beer">
      <h4>{{beer.name}}</h4>
    </div>
  </a>
</div>-->

<div class="container text-center">
  <div class="h3">Top Beers</div>
  <div class="row">
    <a *ngFor="let beer of beers" [routerLink]="['/detail', beer.id]" class="col-1-4">
      <div class="col-sm-3">
        <div class="well well-lg">
          <h4>{{beer.name}}</h4>
        </div>
      </div>
    </a>
  </div>
</div>
